/* Reset and base styles */

/* default light mode */
:root {
    --body-bg-color: #f5f5f5;
    --body-txt-color: #333;
    --header-bg-color: #2c3e50;
    --header-bg-gradient-color: #2c3ea0;
    --header-txt-color: rgb(121, 121, 121);
    --header-shadow-color: rgba(0, 0, 0, 0.5);
    --section-bg-color: #f0f0f0;
    --section-txt-color: #333;
    --section-border-color: #eee;
    --section-title-color: #2c3e50;
    --section-title-border-color: #2c3e50;
    --item-title-color: #34495e;
    --item-subtitle-color: #3498db;
    --item-date-color: #7f8c8d;
    --item-description-color: #333;
    --skill-category-color: #34495e;
    --skill-fill-color: #3498db;
    --skill-level-empty-color: #d7d7d7;
    --theme-toggle-bg-color: #3498db;
    --theme-toggle-txt-color: #f0f0f0;
    --theme-toggle-hover-bg-color: #00CED1;
    --cover-letter-bg-color: #f0f0f0;
    --print-bg-color: white;
}

html.light-mode {
    --body-bg-color: #f5f5f5;
    --body-txt-color: #333;
    --header-bg-color: #428ad2;
    --header-bg-gradient-color: #0f1e73;
    --header-txt-color: #defff9;
    --section-bg-color: #f0f0f0;
    --section-txt-color: #333;
    --section-border-color: #eee;
    --section-title-color: #2c3e50;
    --section-title-border-color: #2c3e50;
    --item-title-color: #34495e;
    --item-subtitle-color: #3498db;
    --item-date-color: #7f8c8d;
    --item-description-color: #333;
    --skill-category-color: #34495e;
    --skill-fill-color: #3498db;
    --theme-toggle-bg-color: #3498db;
    --theme-toggle-txt-color: #f0f0f0;
    --theme-toggle-highlight-bg-color: #00CED1;
    --cover-letter-bg-color: #f0f0f0;
    --print-bg-color: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #333;
        --body-txt-color: #f0f0f0;
        --header-bg-color: #002a54;
        --header-bg-gradient-color: #2c3ea0;
        --header-txt-color: #f0f0f0;
        --section-bg-color: #10171e;
        --section-txt-color: #f0f0f0;
        --section-border-color: #333;
        --section-title-color: #f0f0f0;
        --section-title-border-color: #f0f0f0;
        --item-title-color: #f0f0f0;
        --item-subtitle-color: #3498db;
        --item-date-color: #7f8c8d;
        --item-description-color: #f0f0f0;
        --skill-category-color: #f0f0f0;
        --theme-toggle-bg-color: #3498db;
        --theme-toggle-highlight-bg-color: #00CED1;
        --theme-toggle-txt-color: black;
        --contact-item-link: #3498db;
        --cover-letter-bg-color: #444;
        --print-bg-color: var(--body-bg-color);
    }
}

html.dark-mode {
    --body-bg-color: #333;
    --body-txt-color: #f0f0f0;

    --header-bg-color: #06284d;
    --header-bg-gradient-color: #2c3ea0;
    --header-txt-color: #f0f0f0;

    --section-bg-color: #10171e;
    --section-txt-color: #f0f0f0;
    --section-border-color: #333;
    --section-title-color: #f0f0f0;
    --section-title-border-color: #f0f0f0;
    --item-title-color: #f0f0f0;
    --item-subtitle-color: #3498db;
    --item-date-color: #cacaca;
    --item-description-color: #f0f0f0;
    --skill-category-color: #f0f0f0;
    --skill-fill-color: #3498db;
    --theme-toggle-bg-color: #3498db;
    --theme-toggle-highlight-bg-color: #00CED1;
    --theme-toggle-txt-color: #f0f0f0;
    --cover-letter-bg-color: #444;
    --print-bg-color: var(--body-bg-color);
}


/* for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--body-bg-color);
    color: var(--body-txt-color);
    line-height: 1.6;
    font-size: 1rem;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

.cv-container {
    max-width: 900px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: var(--section-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.cv-container::after {
    display: flex;
    content: '';
    width: 100%;
    margin-bottom: 40px;
}

/* Header styles */
.cv-header {
    background-image: linear-gradient(45deg, var(--header-bg-color) 20%, var(--header-bg-gradient-color));
    position: relative;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px var(--header-shadow-color);
}

.cv-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

#title-name {
    letter-spacing: 0.05rem;
}

.cv-header h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.3);
    margin: 0 auto 20px;
    display: block;
    object-fit: cover;
    transition: ease-in-out 0.5s;
    &:hover {
        scale: 1.05;
    }
}

/* Section styles */
.cv-section {
    position: relative;
    padding: 20px 40px;
    /* border-bottom: 1px solid #eee; */
}

.cv-section:last-child {
    border-bottom: none;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--section-title-color);
    position: relative;
    padding-bottom: 2px;
    width: max-content;
    z-index: 1;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 20px;
    height: 2px;
    background-color: var(--section-title-border-color);
    z-index: 0;
}

/* Item styles (for education and work experience) */
.item {
    margin-bottom: 25px;
}

.item ul {
    margin-left: 0.5rem;
}

.item:last-child {
    margin-bottom: 0;
}

.item-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: italic;
    color: var(--item-title-color);
    margin-bottom: 5px;
}

.item-subtitle {
    font-size: 1.1rem;
    color: var(--item-subtitle-color);
    margin-bottom: 5px;
}

.item-date {
    font-size: 0.9rem;
    color: var(--item-date-color);
    margin-bottom: 10px;
}

.item-description {
    font-size: 1rem;
}

.item-description ul {
    list-style-type: disc;
}

/* Skills styles */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-category {
    flex: 1 0 45%;
    min-width: 250px;
    justify-content: left;
}

.skill-category h4 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: var(--skill-category-color);
}

.skill-category li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-list {
    list-style-type: none;
    width: 80%;
    min-width: max-content;
}

.skill-list li {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-level {
    display: inline-block;
    width: 150px;
    height: 8px;
    background-color: var(--skill-level-empty-color);
    border-radius: 4px;
    margin-left: 10px;
    overflow: hidden;
}

.skill-level-fill {
    display: block;
    height: inherit;
    background-color: #3498db;
}

/* Contact styles */
.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 1.2rem;
}

.contact-item {
    flex: 1 0 45%;
    min-width: 250px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.contact-item .fa,
.fa-brands {
    margin-right: 1em;
}

.contact-item .fa-linkedin {
    font-size: 1.5rem;
}


.contact-icon {
    font-weight: bold;
    margin-right: 10px;

    font-size: 1.6rem;
    text-align: center;
    color: #3498db;
}

/* Languages styles */
.languages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.language {
    display: flex;
    flex: 1 0 45%;
    flex-direction: row;
    min-width: 250px;
}

.code-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.code-item {
    flex: 1 0 45%;
    min-width: 250px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.code-icon {
    font-weight: bold;
    margin-right: 10px;
    width: 25px;
    text-align: center;
    color: #3498db;
}

.toggles {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

/* round button */
.toggles .toggle-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    top: 0;
    right: 0;
    background-color: var(--theme-toggle-bg-color);
    color: var(--theme-toggle-txt-color);
    border: none;
    min-width: 50px;
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.5s;

    &:hover {
        background-color: var(--theme-toggle-highlight-bg-color);
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: inherit;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
}

.tooltip-text-left {
    visibility: hidden;
    width: fit-content;
    background: none;
    /* background-color: rgb(0, 0, 0, 0.2); */
    color: #f0f0f0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;

    /* Positioning */
    position: absolute;
    top: 50%;
    right: 110%;
    /* Puts it to the right of the button */
    transform: translateY(-50%);
    /* Center it vertically */

    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
    pointer-events: none;
    z-index: 2;
}

/* Show Tooltip on Hover */
.tooltip:hover .tooltip-text-left {
    visibility: visible;
    opacity: 1;
    right: 120%;
    /* Slight animation effect */
}

.tooltip-text-right {
    display: flex;
    flex-direction: row;
    visibility: hidden;
    width: 100%;
    overflow: hidden;
    background: none;
    /* background-color: rgb(0, 0, 0, 0.2); */
    color: #f0f0f0;
    text-align: center;
    padding: 5px;
    border-radius: 5px;

    /* Positioning */
    position: absolute;
    top: 50%;
    left: 110%;
    /* Puts it to the right of the button */
    transform: translateY(-50%);
    /* Center it vertically */

    opacity: 0;
    transition: opacity 0.3s ease, left 0.3s ease;
    pointer-events: none;
    z-index: 2;
}


.tooltip:hover .tooltip-text-right {
    visibility: visible;
    left: 120%;
    opacity: 1;
}



#initial-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    display: flex;
    transition: ease-out 1.5s;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#languages-tooltip-text {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* fa icons */

.fa .fa-envelope {
    color: var(--theme-toggle-bg-color);
}

/* info for the printout to tell the reader to go to the page */
.header-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    font-size: 1rem;
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
    text-align: center;
}

.header-info ul {
    list-style: none;
}


/* For cover letter, switching it up a bit */

.cover-letter-container{
    display:flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    page-break-inside: never;
    min-width: 210mm;
    min-height: 297mm;
    margin: 1rem;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--cover-letter-bg-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}
#cover-letter-content{
    margin: 1rem;
    align-self: center;
}

#cover-letter-content h4{
    font-weight: 600;
    font-size: 1.1rem;
}

.cover-letter-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 3rem;
}

.cover-letter-to{
    text-align: left;
}
.cover-letter-from{
    text-align: right;
}
.cover-letter-from h4{
    text-align: left;
}

.cover-letter-container ul{
    list-style-type: none;
}

.cover-letter-container .cover-letter-to ul{
    font-size: 1.2rem;
}



/* Media queries for responsiveness */

@media (prefers-language: en) {
    .cv-header h1 {
        font-size: 2.5rem;
    }

    .cv-header h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .cv-container {
        box-shadow: none;
    }

    .cv-section {
        padding: 20px;
    }

    .cv-header h1 {
        font-size: 2rem;
    }

    .cv-header h2 {
        font-size: 1.2rem;
    }

    .skill-category,
    .contact-item,
    .language {
        flex: 1 0 100%;
    }

    #initial-info{
        align-items:center;
        padding: 0px 10px;
    }
}


@media print {

    @page {
        size: A4;
        margin: 0;
    }

    body {
        margin: 0;
        padding: 0;
        width: 210mm;
        height: 297mm;
    }


    .cv-container {
        box-shadow: none;
        border-radius: 0;
        background-color: var(--print-bg-color);
    }

    .cv-header {
        background-image: none;
        min-height: 297mm;
        min-width: 210mm;
        page-break-after: always;
        display:flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .profile-img{
        margin-top: 3rem;
        height: 400px;
        width: 400px;
    }

    #profile-name{
        font-size: 4rem;
    }

    #profile-title{
        font-size: 2rem;
    }

    #misc{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contact-info{
        font-size: 1rem;
        flex-direction:row;
    }

    .cv-section {
        margin: 0.5rem 0.4rem;
    }

    .cv-header h1 {
        font-size: 2rem;
    }

    .cv-header h2 {
        font-size: 1.2rem;
    }

    .skill-category,
    .contact-item,
    .language {
        flex: 1 0 100%;
    }

    .toggles {
        display: none;
    }

    .header-info {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    #initial-info{
        display: none;
    }

    .skill-category {
        flex: 1 0 45%;
        /* min-width: 30%; */
    }

    /* #section-skills{
        page-break-before: always;
    } */
    
    #school-stuff{
        page-break-inside: never;
    }

    .cover-letter-container{
        box-shadow: none;
        padding: 3rem 2rem;
    }
}

