/* Basic reset and font styling for the entire page */

.left-panel,
.right-panel {
    flex: 2;
    height: 100%;
    width: 100%;
    padding: 2rem;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.middle-panel {
    flex: 3;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.no-y-scroll {
    overflow-y: hidden;
}

.h100 {
    height: 100% !important;
}

.mw100 {
    max-width: 100% !important;
}

.panel h1,
.panel h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #333;
    text-align: center;
}

.panel p {
    font-size: 1rem;
    color: #555;
    text-align: center;
    line-height: 1.5;
}

/* Styling for the canvas element itself */
#main-canvas {
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.controls-panel{
    padding: 1rem;
    text-align: left;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.controls-panel button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.controls-panel input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
}

.controls-panel .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 1rem;
}

#startButton {
    background-color: #4CAF50;
    color: white;
}

#pauseButton {
    background-color: #c3c121;
    color: rgb(0, 0, 0);
}

#setBarCountButton {
    background-color: #2196F3;
    color: white;
}

.container pre{
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1rem;;
}
