/*
* Main style for the whole webside
*
*/

/*
*   Set instead of content box
*
*/


*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
*   Root
*
*/

:root {
    scroll-behavior: smooth;

    /* COLORS */
    --main-bg-color: #f5f5f5;
    --main-font-color: #333;
    --main-high-light-color: #f0f0f0;
    --main-font-color-light: #666;
    --h1-color: #007bff;
    --h1-color-light: #0056b3;
    --h2-color: #007bff;
    --h2-color-light: #0056b3;
    --h3-color: #007bff;
    --h3-color-light: #0056b3;
    --inline-code-color: #f4b923;


    /* links */
    --main-link-color: #007bff;
    --main-link-hover-color: #0056b3;
    --main-link-visited-color: #0056b3;
    --main-link-visited-hover-color: #0056b3;

    /* sizes */
    --main-max-width: clamp(1200px, 100%, 1400px);
    --main-font-size: 24px;
    --h1-font-size: 2.5rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.5rem;
    --p-font-size: 1rem;
    --main-line-height: 1.4;
    --main-font-weight: 400;

    /* fonts */
    --menu-font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-font-family: 'Libre Baskerville', sans-serif;

    /* navbar */
    --navbar-min-height: 3rem;
}

/* if user prefers dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        /* background colors */
        --main-bg-color: #333;

        /* font colors */
        --main-font-color: #f5f5f5;
        --main-font-color-light: #ccc;
        --main-high-light-color: #444;

        /* link colors */
        --main-link-color: #a940c1;
        --main-link-hover-color: color-mix(in srgb, var(--main-link-color) 70%, white);
        --main-link-visited-color: color-mix(in srgb, var(--main-link-color) 70%, black);
        --main-link-visited-color: #ac26ac;
        --main-link-visited-hover-color: #db14db;

        /* header colors */
        --h1-color: #e810e8;
        --h1-color-light: #ff00ff;
        --h2-color: #e810e8;
        --h2-color-light: #ff00ff;
        --h3-color: #e810e8;
        --h3-color-light: #ff00ff;
    }
}



#menu-toggle {
    display: none;
}


html {
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body,
button,
input,
select,
textarea {
    font-family: var(--main-font-family);
    background-color: var(--main-bg-color);
}

h1 {
    font-size: var(--h1-font-size);
    color: var(--h1-color);
}

h2 {
    font-size: var(--h2-font-size);
    color: var(--h2-color);
}

h3 {
    font-size: var(--h3-font-size);
    color: var(--h3-color);
}

.h3 {
    border-bottom: 1px solid var(--h3-color);
    padding-bottom: 0.5rem;
}



/* established types and classes */
body {
    color: var(--main-font-color);
    min-height: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
}

a {
    color: var(--main-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--main-link-hover-color);
}

p {
    font-size: var(--p-font-size);
    color: var(--main-font-color);
    margin: 0;
    padding: 0;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

span {
    color: var(--main-font-color-light);
    font-style: inherit;
    font-weight: inherit;
}

button {
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-font-color);
    padding: 0.5em 1em;
    border-radius: 5px;
}

button:hover {
    background-color: var(--main-high-light-color);
}

details {
    position: relative;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1em;
    border: 2px solid var(--main-high-light-color);
    border-radius: 10px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}

details:hover {
    background-color: var(--main-high-light-color);
}

details[open] div {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;

}


details summary {
    font-weight: bold;
    cursor: pointer;
}

details p {
    margin: 1rem;
    font-size: 14px;
}

/*
* generic flexbox container
 */

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    font-weight: var(--main-font-weight);
    overflow-x: hidden;
    transition: transform 1.0s ease-in-out;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: var(--navbar-min-height); /* accounting for nav bar */
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.w-fill,
.w-100 {
    width: 100%;
}

.h-fill,
.h-100 {
    height: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-space-around {
    justify-content: space-around;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
}

.pt-3 {
    padding-top: 3rem !important;
}

.my-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.box-shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

/* navbar */
.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background: #12121b !important;
    color: white;
    font-family: inherit;
    text-decoration: none;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1rem;
    min-width: 100%;
    max-width: var(--main-max-width);
    padding: 0;
    margin: 0;

    min-height: var(--navbar-min-height);

    transition: grow200 0.3s ease-in-out;
}

.navbar .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: var(--main-max-width);
    margin: 0 auto;
    padding: 0 1rem;
    overflow-y: hidden;
}

.navbar .logo-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar .logo-container a {
    display: inherit;
}

.navbar .logo-text {
    align-content: center;
    color: #f0f0f0;

    &:hover {
        color: var(--main-link-hover-color);
    }
}

.navbar .nav-center {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    letter-spacing: -0.05rem;
}

.navbar .nav-center ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    overflow: hidden;
    
    /* space between nav items */
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .externals-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.navbar .externals-container ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    text-decoration: none !important;
}

.nav-link {
    padding: 0.5rem 1rem;
    min-width: 40px;
}

.navbar .navitem {
    color: inherit;
    box-sizing: border-box;
    font-weight: 600;
}

.navbar .logo img {
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    margin-left: 1rem;
}


.navbar .externals-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar .externals-container a {
    color: white;

    &:hover {
        color: rgb(171, 171, 171);
    }
}

.navbar .externals-container a i {
    font-size: 1.5rem;
    margin: 0 0.5rem;

    &:hover {
        transform: scale(1.4);
        transition: transform 0.2s ease-in-out;
    }
}

.menuItems {
    z-index: 2;
    align-content: center;
    justify-content: center;
    font-family: var(--menu-font-family);
    font-size: larger;
    width: 100%;
}

.tooltip .tooltiptext {
    z-index: 2;
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.textbox {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: auto;
    padding: 0.5rem 1rem;;
    max-width: 75%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.1);
}

/* .sidebar {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h3 {
    color: var(--h3-color);
    display: inline;
} */

.card {
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: var(--navbar-min-height) 0;
    background-color: var(--main-bg-color);
    background-color: color-mix(in srgb, var(--main-bg-color), black 20%);
    color: var(--main-font-color);
    border-radius: 5px;
    box-shadow: 0 1rem 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}

.black-box {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section h1 {
    color: white;
}

.about-section h2 {
    color: white;
}

.about-section h3 {
    color: white;
    align-content: baseline;
    width: 100%;
}

.about-section h5 {
    color: white;
    align-content: stretch;
    width: 100%;
    margin: 1rem 0;
}

.about-section h5::after {
    content: " ";
    display: flex;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, var(--main-link-color), var(--main-link-hover-color));
    margin: 0;
    animation: slide 1s ease-in-out;
}


.about-section p {
    line-break: normal;
    margin: 1rem 0;
}

.about-section i {
    color: color-mix(in srgb, var(--main-font-color), black 50%);
}

.about-section a {
    color: var(--main-link-color);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.centered-iframe {
    display: block;
    margin: 3rem auto;
    box-shadow: 0 0 20px bisque;
    max-width: 100%;
    align-self: center;
}

.inline-code {
    border: 5px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    padding: 0.15em 0.3em;
    margin: 0.1em;
    font-size: 0.9em;
    color: var(--inline-code-color);
}

.tally-marks ol {
    height: 20px;
    padding: 1em 0;

}

.tally-marks li {
    display: inline-flex;
    height: 20px;
    border: 1px solid #ffffff;
    color: white;
    margin-right: 4px;

    &:nth-child(5n) {
        transform: rotate(300deg);
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(300deg);
        -o-transform: rotate(300deg);
        height: 30px;
        position: relative;
        left: -15px;
        top: 5px;
        margin-right: 1em;
        margin-top: -10px;
    }
}


@media(min-width: 800px) {
    .navbar-nav {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

@media (min-width: 1400px) {
    :root {
        --main-max-width: 1320px;
    }

}

/* media specific changes */
@media screen and (max-width: 1600px) {
    .nav-bar {
        grid-template-columns: [start] 1fr [logo-end] 1fr [menu-start] 1fr [menu-end];
    }

    .tooltip .tooltiptext {
        top: -100%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media screen and (max-height: 1000px) {
    .navBar {
        display: grid;
    }
}

/* phone or tablet */
@media (max-width: 768px) {
    :root {
        --main-max-width: 700px;
        overflow: visible;
        font-size: 14px;
    }

    .nav {
        flex-direction: column;
        justify-content: stretch;
        overflow-x: scroll;
    }

    .navbar {
        flex-wrap: wrap;
    }

    #navbar-container {
        flex-wrap: wrap;
        font-size: 1.2rem;
    }

    #navItems {
        display: none;
        flex-direction: row;
    }

    #externals {
        display: none;
        flex-direction: row;
    }

    #menu-toggle {
        display: flex;
    }

    #menu-button:hover {
        background-color: var(--main-high-light-color);
    }

    #menu-button:active {
        background-color: var(--main-high-light-color);
    }

    .page {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /* This should be where everything that isn't universal (navbar, style) should go.*/
    .page-content {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 3rem;
        /* padding: var(--navbar-min-height); */
    }

    .about-section {
        margin: 0;
        padding: 0;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .about-section .textbox {
        max-width: 100%;
        margin: 0;
        padding: 1em;
        width: 90%;
    }

    .bgb {
        position: absolute;
        height: 100%;
        width: 100%;
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        opacity: 0.5;
        scale: 0.2;
    }

    .bgb img {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

/* Animations */
@keyframes slide {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

@keyframes grow200 {
    0% {
        transform: scale(1);
    }
    
    10% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.2);
    }
}