:root {
    box-sizing: content-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    /* list-style; */
    /* variables */
    --gutter-color: #222;
    --background-color: #333;
    --text-color: #f0f0f0;
    --link-color: #aaa;
    --link-hover-color: #ccc;

    /* page */
    --page-bg-color: #eee;
    --page-text-color: #333;

    /* header */
    --header-bg-color: #333;
    --header-text-color: #f0f0f0;

    /* card */
    --card-bg-color: #f0f0f0;
    --card-text-color: #333;

    /* side panel */
    --sidepanel-bg-color: #333;
    --sidepanel-text-color: #f0f0f0;
}

/* light mode */
@media(prefers-color-scheme: light) {}

@media print {

    /* hide the side panel when printing */
    #header-container {
        display: none !important;
    }
}

::before,
::after {
    box-sizing: content-box;
}

html,
body {
    margin: auto;
    background-color: var(--gutter-color);
    color: var(--text-color);
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
}

body {
    box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2),
        0 6px 20px 0 rgba(255, 0, 0, 0.19);
}

/* custom css */



.page-container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

}

/* page, styled as an A4 page */
.page {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: var(--page-bg-color);
    color: var(--page-text-color);
    z-index: 2;
}

/* main content, spans the width of the page - the width of the side panel */
.page-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.page-content .block {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px 20px;
}

.page-content h2 {
    font-size: 1.5em;
}

.page-content .block .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    margin: auto;
    width: 100%;
    min-width: min-content;
    text-align: left;
}

.date {
    font-family: monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: bold;

}

/* progress bar */

/* contains the name of a language as well as a progress bar */
.programming-languages-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin: 0;
    padding: 0;

}

.progress-container {
    width: max-content;
    height: 30px;
    /* background: none; */
}

.progress-bar {
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    /* background-color: none; */
}

.progress-bar::after {
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, red, yellow, green);
    transition: width 0.5s ease-in-out;
}

/* .page-content h1 {
    text-decoration: underline;
} */



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.side-panel {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    /* align-items: ; */
    padding: 5px 1em 0;
    flex: 1;
    background-color: var(--sidepanel-bg-color);
    color: var(--sidepanel-text-color);
    height: 100%;
    width: fit-content;
}

.side-panel .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: inherit;
    background-color: inherit;
}

.side-panel .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: nowrap;
    max-width: 100%;
    white-space: wrap;
    margin: 0;
    padding: 0;
    /* gap: 10px; */
}

.side-panel .contact .item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 8px;
    margin-bottom: 8px;
}

.side-panel .contact .item a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.5s;
}

/* card contains an image, some header text and a paragraph */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: fit-content; */
    margin: 0;
    padding: 0;
    /* background-color: var(--card-bg-color); */
    background-color: var(--sidepanel-bg-color);
    color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    /* reverse drop shadow that looks like it cuts into the page */
    /* box-shadow: -1rem -1rem 100px 2px rgba(255, 255, 255, 0.1) inset, 1rem 1rem 100px 2px rgba(0, 0, 0, 0.1) inset; */

}

.card img {
    width: 100%;
    height: auto;
    background: var(--card-bg-color);
    max-width: 100px;
    max-height: 100px;
    padding: 1em;
    border-radius: 50%;
}

.card h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card p {
    margin: 10px 0;
    font-size: 1em;
}

#header-container {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}